body {
  background: $body-color-bg;
  color: $body-color-text;
}

.site-title-headline {
  margin: 0;
  padding: 1rem 0 0.4rem;
}

.primary-header {
  box-shadow: 0px 5px 5px 0px rgba(122, 124, 126, 1);
  background-color: #204a80;
}

//.site-navigation, .primary-footer {
//  border-top: 1px solid #D5D5D5;
//  border-bottom: 1px solid #D5D5D5;
//}

.primary-footer {
  padding: 0.8rem 0;
  margin-top: 2rem;
}

.primary-content {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top,#ddd,#fff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#fff));
  background-image: -webkit-linear-gradient(top,#ddd,#fff);
  background-image: -o-linear-gradient(top,#ddd,#fff);
  background-image: linear-gradient(to bottom,#ddd,#fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
}

.site-title-link img {
  height: 80px;
}
