a.button, button.button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #0b486b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #FFF;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in;
}

a.button:hover, button.button:hover {
  background: #222;
  text-decoration: none;
}
