.site-navigation {
  position: relative;
  z-index: 2;
  background: #31302b;
}

.site-navigation li {
	float: left;
	display: inline;
	position: relative;
	list-style: none;
}

.site-navigation ul {
  padding: 0;
  margin: 0;
}

.site-navigation ul:before, ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.site-navigation  ul:after {
  clear: both;
}

.site-navigation  ul {
  *zoom: 1;
}

.site-navigation  ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
}

.site-navigation  ul ul ul {
	left: 100%;
	top: 0;
}

.sub-menu > .menu-item {
  min-width: 200px;
}

li:hover > ul {
	display: block;
}

.menu-item a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in;

  background: #31302b;
}

.menu-item a {
  padding: 0.8rem 0.6rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-menu > .menu-item > a {
  text-transform: initial;
  font-weight: normal;
}

.sub-menu > .menu-item > a {
  background: #222;
}

.sub-menu .menu-item .sub-menu .menu-item a {
  background: #444;
}

.sub-menu .menu-item .sub-menu .menu-item .sub-menu .menu-item a {
  background: #666;
}

.menu-item a:hover {
  background: darken(#31302b, 10%);
  color: #FFF;
}

.site-navigation a {
  color: #CAC3B4;
}
