@font-face {
    font-family: 'opensans';
    src: url('../vendor/fonts/open-sans-regular.woff') format('woff'),
         url('../vendor/fonts/open-sans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'opensans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

h1 {
  padding: 0.67em 0;
}

a, a:visited, a:active {
  color: $color-link;
}

a:hover {
  color: $color-link-hover;
}
