// All styles relating to WooCommerce live in this file

.products {
  list-style-type: none;
  padding-left: 0;

  overflow: hidden;
  clear: both;
}

.products .product {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
  box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
  background-color: $woocommerce-product-color-bg;

  border: 1px solid #D5D5D5;

  float: left;
  margin: 1rem 3.8% 0.1rem 0;
  padding: 0.5rem;
  position: relative;
  width: 20%;
}

.products .product img {
  width: 100%;
  height: auto;
}

.product h3 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.product .button {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

.product a:first-child {
  display: block;
}

.woocommerce-breadcrumb {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: $mtc-blue;
}

.products span.onsale {
  position: absolute;
  background: rgba(255, 0, 0, 0.9);
  width: 91%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-align: center;
}
