/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(../vendor/css/toast.css);
/* line 9, ../scss/partials/_normalize.scss */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 18, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, ../scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 53, ../scss/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 66, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 76, ../scss/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../scss/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 96, ../scss/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 108, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 116, ../scss/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 125, ../scss/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 134, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 143, ../scss/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 152, ../scss/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 160, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 168, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 172, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 183, ../scss/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 191, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 202, ../scss/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 210, ../scss/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 220, ../scss/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 228, ../scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 251, ../scss/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 265, ../scss/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 276, ../scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 289, ../scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 301, ../scss/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 310, ../scss/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 321, ../scss/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 333, ../scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 345, ../scss/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 356, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 369, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 378, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 389, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 398, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 407, ../scss/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 418, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 423, ../scss/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../scss/partials/_base.scss */
body {
  background: #FFF;
  color: black;
}

/* line 6, ../scss/partials/_base.scss */
.site-title-headline {
  margin: 0;
  padding: 1rem 0 0.4rem;
}

/* line 11, ../scss/partials/_base.scss */
.primary-header {
  box-shadow: 0px 5px 5px 0px #7a7c7e;
  background-color: #204a80;
}

/* line 21, ../scss/partials/_base.scss */
.primary-footer {
  padding: 0.8rem 0;
  margin-top: 2rem;
}

/* line 26, ../scss/partials/_base.scss */
.primary-content {
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
  background-image: -webkit-linear-gradient(top, #ddd, #fff);
  background-image: -o-linear-gradient(top, #ddd, #fff);
  background-image: linear-gradient(to bottom, #ddd, #fff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
}

/* line 37, ../scss/partials/_base.scss */
.site-title-link img {
  height: 80px;
}

/* box sizing */
/* line 2, ../scss/partials/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../scss/partials/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, ../scss/partials/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 14, ../scss/partials/_reset.scss */
a {
  text-decoration: none;
}

@font-face {
  font-family: 'opensans';
  src: url("../vendor/fonts/open-sans-regular.woff") format("woff"), url("../vendor/fonts/open-sans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../scss/partials/_typography.scss */
body {
  font-family: 'opensans', sans-serif;
}

/* line 13, ../scss/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

/* line 19, ../scss/partials/_typography.scss */
h1 {
  padding: 0.67em 0;
}

/* line 23, ../scss/partials/_typography.scss */
a, a:visited, a:active {
  color: #000;
}

/* line 27, ../scss/partials/_typography.scss */
a:hover {
  color: #666;
}

/* line 1, ../scss/partials/_grid.scss */
.container {
  max-width: 60rem;
  margin: 0 auto;
}

/* line 1, ../scss/partials/_nav.scss */
.site-navigation {
  position: relative;
  z-index: 2;
  background: #31302b;
}

/* line 7, ../scss/partials/_nav.scss */
.site-navigation li {
  float: left;
  display: inline;
  position: relative;
  list-style: none;
}

/* line 14, ../scss/partials/_nav.scss */
.site-navigation ul {
  padding: 0;
  margin: 0;
}

/* line 19, ../scss/partials/_nav.scss */
.site-navigation ul:before, ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 24, ../scss/partials/_nav.scss */
.site-navigation ul:after {
  clear: both;
}

/* line 28, ../scss/partials/_nav.scss */
.site-navigation ul {
  *zoom: 1;
}

/* line 32, ../scss/partials/_nav.scss */
.site-navigation ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}

/* line 39, ../scss/partials/_nav.scss */
.site-navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* line 44, ../scss/partials/_nav.scss */
.sub-menu > .menu-item {
  min-width: 200px;
}

/* line 48, ../scss/partials/_nav.scss */
li:hover > ul {
  display: block;
}

/* line 52, ../scss/partials/_nav.scss */
.menu-item a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in;
  background: #31302b;
}

/* line 61, ../scss/partials/_nav.scss */
.menu-item a {
  padding: 0.8rem 0.6rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 68, ../scss/partials/_nav.scss */
.sub-menu > .menu-item > a {
  text-transform: initial;
  font-weight: normal;
}

/* line 73, ../scss/partials/_nav.scss */
.sub-menu > .menu-item > a {
  background: #222;
}

/* line 77, ../scss/partials/_nav.scss */
.sub-menu .menu-item .sub-menu .menu-item a {
  background: #444;
}

/* line 81, ../scss/partials/_nav.scss */
.sub-menu .menu-item .sub-menu .menu-item .sub-menu .menu-item a {
  background: #666;
}

/* line 85, ../scss/partials/_nav.scss */
.menu-item a:hover {
  background: #161513;
  color: #FFF;
}

/* line 90, ../scss/partials/_nav.scss */
.site-navigation a {
  color: #CAC3B4;
}

/* line 1, ../scss/partials/_buttons.scss */
a.button, button.button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #0b486b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in;
}

/* line 16, ../scss/partials/_buttons.scss */
a.button:hover, button.button:hover {
  background: #222;
  text-decoration: none;
}

/* line 3, ../scss/partials/_woocommerce.scss */
.products {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  clear: both;
}

/* line 11, ../scss/partials/_woocommerce.scss */
.products .product {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px #999999;
  -moz-box-shadow: 0px 0px 10px 0px #999999;
  box-shadow: 0px 0px 10px 0px #999999;
  background-color: white;
  border: 1px solid #D5D5D5;
  float: left;
  margin: 1rem 3.8% 0.1rem 0;
  padding: 0.5rem;
  position: relative;
  width: 20%;
}

/* line 27, ../scss/partials/_woocommerce.scss */
.products .product img {
  width: 100%;
  height: auto;
}

/* line 32, ../scss/partials/_woocommerce.scss */
.product h3 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

/* line 37, ../scss/partials/_woocommerce.scss */
.product .button {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

/* line 43, ../scss/partials/_woocommerce.scss */
.product a:first-child {
  display: block;
}

/* line 47, ../scss/partials/_woocommerce.scss */
.woocommerce-breadcrumb {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #0b486b;
}

/* line 53, ../scss/partials/_woocommerce.scss */
.products span.onsale {
  position: absolute;
  background: rgba(255, 0, 0, 0.9);
  width: 91%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-align: center;
}
